<%- include('header') -%>

<div class="successDiv">
  <h1 class="success">Umsókn móttekin!</h1>
  <a href="/applications">
    <button>Umsóknasíða</button>
  </a>
  <a href="/">
    <button>Til baka</button>
  </a>
</div>

<%- include('footer') -%>
